<!doctype html>
<html lang="en" ng-app="phonecat">
<head>
<meta charset="utf-8">
<title>Google Phone Gallery</title>
<link rel="stylesheet" href="static/managed/bootstrap.css/css/bootstrap.css">
<link rel="stylesheet" href="static/css/app.css">
<script src="static/managed/angular/angular.js"></script>
<script src="static/managed/angular-resource/angular-resource.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/controllers.js"></script>
<script src="static/js/filters.js"></script>
 <script src="static/js/services.js"></script>
</head>
<body>
     <div ng-view></div>
</body>
</html>